<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login - Communication_LTD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Login to Communication_LTD Information System</h2>
        <form method="post" style="margin-bottom: 0;">
            <label>Username:</label><br>
            <input type="text" name="username" placeholder="Enter your username" required><br>
            <label>Password:</label><br>
            <input type="password" name="password" placeholder="Enter your password" required><br>
            <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 18px;">
                <button type="submit" style="width: 48%; margin-bottom: 0;">Login</button>
                <a href="{{ url_for('forgot_password') }}" style="width: 48%; text-align: right;">Forgot Password?</a>
            </div>
        </form>
        <form action="{{ url_for('register') }}" method="get">
            <button type="submit">Register</button>
        </form>

        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="flash-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>

</html>